<header id="header-main" class="navbar" role="navigation">
  <div class="container">
    <div class="row">
      <nav class="navbar-header ">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand logo-madison navbar-brand link-home" href="/" title="myMadison.io Home">
          <span class="level"></span>MyMadison<span class="dot-io">.io</span>
        </a>
      </nav>
      <nav class="nav nav-main navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">{{ "menu.nav.about" | translate }}</a></li>
          <li ng-hide="!user" ng-cloak><a href="/documents">{{ "menu.nav.documents" | translate }}</a></li>
          <li ng-hide="!user" ng-cloak><a href="/logout">{{ "menu.nav.logout" | translate }}</a></li>
        </ul>
      </nav><!--/.navbar-collapse -->
    </div>
  </div>
</header>

<div class="container">
  <div growl></div>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>
</div>

