<div ng-controller="DocumentDetailController" ng-cloak class="document-detail">
  <header class="doc-meta">

    <div class="save-status">
      <span class="icon"></span>
      <span ng-if="status == 'saved'" class="saved">{{ "form.state.saved" | translate }}</span>
      <span ng-if="status == 'saving'" class="saving">{{ "form.state.saving" | translate }}</span>
      <span ng-if="status == 'unsaved'" class="unsaved">{{ "form.state.unsaved" | translate }}</span>
    </div>

    <div class="error" ng-show="form.errors.general">
      {{ form.errors.general }}
    </div>

    <fieldset>
      <label for="doc.title">{{ "form.document.labels.title" | translate }}</label>
      <input id="doc.title" ng-model="document.title" />
      <span class="error" ng-show="form.errors.title">{{ form.errors.title | translate }}</span>
    </fieldset>
    <fieldset>
      <label for="doc.slug">{{ "form.document.labels.url" | translate }}</label>
      https://mymadison.io/docs/<input ng-model="document.slug" />
      <span class="error" ng-show="form.errors.slug">{{ form.errors.slug | translate }}</span>
    </fieldset>
    <fieldset>
      <label for="doc.private">{{ "form.document.labels.private" | translate }}</label>
      <input type="checkbox" name="private" id="private"
        ng-model="document.private" ng-checked="document.private" />
      <span class="error" ng-show="form.errors.private">{{ form.errors.private | translate }}</span>
    </fieldset>
    <fieldset>
      <label for="doc.is_template">{{ "form.document.labels.is_template" | translate }}</label>
      <input type="checkbox" name="is_template" id="is_template"
          ng-model="document.is_template" ng-checked="document.is_template" />
      <span class="error" ng-show="form.errors.is_template">{{ form.errors.is_template | translate }}</span>
    </fieldset>
  </header>

	<iframe src="{{ document.id | etherpadUrl:{copy:copyId} }}" style="width: 100%; height: 600px;"></iframe>
</div>
