
<h1>Documents</h1>

<div ng-controller="DocumentListController" ng-cloak>
  <div class="create-document">
    <button
      ng-click="showCreateForm()"
      ng-show="!showForm">Create Document</button>
    <form ng-submit="createDocument()"
      ng-show="showForm">
      <input type="text" name="title" ng-model="title" />
      <button name="submit"/>Go</button>
    </form>
  </div>

  <table class="documents-list">
    <thead>
      <tr>
        <th class="document__title">Name</th>
        <th class="document__date-updated">Last Updated</th>
        <th class="document__delete">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="doc in documents" class="document">
        <td class="document__title">
          <a href="/documents/{{doc.id}}">{{doc.title}}</a>
        </td>
        <td class="document__date-updated">
             {{ doc.updated_at | date : 'medium' }}
        </td>
        <td class="document__delete" ng-class="{open: deleteConfirmOpen[doc.id]}">
          <button type="button" class="button button-delete"
            ng-click="openDeleteConfirm(doc)"><span>delete document</span></button>
          <div class="confirm-delete">
            Are you sure?
            <button class="button button-confirm" type="submit"
              ng-click="deleteDocument(doc)" title="delete document">
              <span>delete</span></button>
            <button class="button button-cancel" type="button"
              ng-click="closeDeleteConfirm(doc)" title="cancel">
              <span>cancel</span></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
