
<h1>Documents</h1>

<div ng-controller="DocumentListController" ng-cloak>
	<div class="create-document">
		<input type="button" value="Create Document"
			ng-click="showCreateForm()"
			ng-show="!showForm">
		<form ng-submit="createDocument()"
			ng-show="showForm">
			<input type="text" name="title" ng-model="title" />
			<input type="submit" name="submit" value="Go" />
		</form>
	</div>

	<ul class="documents-list">
		<li ng-repeat="doc in documents" class="document">
			<span class="document__title">
				<a href="#/documents/{{doc.slug}}">{{doc.title}}</a>
			</span>
			<span class="document__date-updated">
					Updated {{ doc.updated_at | date : 'medium' }}
			</span>
			<span class="delete-document" ng-class="{open: deleteConfirmOpen[doc.id]}">
				<button type="button" class="button-delete"
					ng-click="openDeleteConfirm(doc)"></button>
				<span class="confirm-delete">
					Delete this document?
					<button class="button button-save" type="submit"
						ng-click="deleteDocument(doc)">
						<span>save</span></button>
					<button class="button button-cancel" type="button"
						ng-click="closeDeleteConfirm(doc)">
						<span>cancel</span></button>
				</span>
			</span>
		</li>
	</ul>
</div>
