label {
    margin-bottom: 0;
    margin-top:1rem;
}

.help-block {
    margin:0;
}

.form-control {
    height:$line-height-computed;
}

.form-group {
    margin-bottom:1rem;
    margin-top:1rem;

    button{
      margin-top:1rem;
    }
}

.checkbox {
    input[type="checkbox"] {
        position:relative;
        margin-left: 0;
    }

    margin-bottom:0;
}

.select2-container {
    width:100%;

    .select2-choice {
        height:$line-height-computed;
        line-height:$line-height-computed;
    }
}

.select2-container-multi {
    .select2-choices {
        .select2-search-field {
            input {
                height:$line-height-computed;
            }
        }
    }
}

/* Buttons. */

%medium-size {
    line-height: 1.5 * $line-height-computed;
    margin-top: 0.25 * $line-height-computed;
    margin-bottom: 0.25 * $line-height-computed;
}

.button {
    @extend .btn;
    border: none;

    span {
        @extend .screen-hidden;
    }
}

td .button {
    margin-top: 0;
    margin-bottom: 0;
}

.action-button {
    @extend .btn-primary;
    text-transform: uppercase;
}

.reject-button {
    @extend .btn-warning;
    text-transform: uppercase;
}

.button-confirm {
    @extend .btn-success;
    @extend .fa;
    @extend .fa-check;
}

.button-cancel {
    @extend .btn-danger;
    @extend .fa;
    @extend .fa-remove;
    top: 0;
}

.button-delete {
    @extend .btn;
    @extend .fa;
    @extend .fa-trash;
    color: $dark-grey;
    font-size: 1.25rem;
}

.button-edit {
    overflow: hidden;
    @extend .btn;
    @extend .fa;
    @extend .fa-pencil;
}

// Delete button auto-expand confirmation thing

@mixin button-confirm-delete {
    .confirm-delete {
        @include standard-transition();
        overflow: hidden;
        max-width: 0;
        white-space: nowrap;
        margin-left: 6px;
        display: inline-block;
    }

    .button-delete {
        vertical-align: top;
    }

    &.open {
        .confirm-delete {
            display: inline-block;
            max-width: 300px;
        }
        .button-delete {
            display: none;
        }
    }
}

// For auto-save status.
.save-status {
  .icon {
    @extend .fa;
    @extend .fa-cloud;
    font-size: 1.5rem;
  }
  .saved {
    @extend .fa;
    @extend .fa-check;

    left: -26px;
    position: relative;

    &:before {
      @extend .fa-inverse;
      position: relative;
      top: -2px;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .saving {
    @extend .fa;
    @extend .fa-arrow-up;

    left: -26px;
    position: relative;

    &:before {
      @extend .fa-inverse;
      position: relative;
      top: -2px;
      left: 3px;
      display: inline-block;
      margin-right: 14px;
      font-size: 0.8rem;
      @include bounce-animation(2s);
    }
  }

  .unsaved {
    @extend .fa;
    @extend .fa-exclamation;

    left: -26px;
    position: relative;

    &:before {
      @extend .fa-inverse;
      position: relative;
      top: -2px;
      left: 6px;
      display: inline-block;
      margin-right: 19px;
      // font-size: 0.8rem;
    }
  }
}
