.documents-list {
  @extend .col-md-24;

  .document__title {
      vertical-align: middle;
  }
}

.document__delete {
  @include button-confirm-delete;

  .button-confirm, .button-delete, .button-cancel {
    @extend .btn-sm;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 1.2rem;
  }

  .button-delete {
    font-size: 1.2rem;
  }
}

// Hide the date column on narrow displays.
.document__date-updated {
  @include breakpoint(0 $screen-md-min) {
    display: none;
  }
}

.documents-list {
  @extend .table;
  @extend .table-striped;
}

.create-document {
  margin-bottom: $line-height-computed;
}

.document-types {
  border: 2px solid $light-grey;
  border-radius: 5px;
  background-color: $lightest-grey;
  padding: 10px 20px 20px;

  h2 {
    @extend h4;
  }

  header {
    margin-bottom: $line-height-computed;
  }
}

.document__template {
  font-size: 0.7 * $font-size-base;
  text-transform: uppercase;
}

.document-type {
  display: inline-block;
  text-align: center;
  width: 130px;
  padding: 15px 10px;

  border-radius: 5px;
  border: 4px solid transparent;
  @include standard-transition(all, 0.25s);

  color: $black;

  &:hover {
    color: $black;
    text-decoration: none;
    background-color: rgba($blue, 0.1);
    border-color: $blue;
  }
}
.document-type__icon {
  @extend .fa;
  @extend .fa-file-text-o;
  display: block;
  text-align: center;
  font-size: $line-height-computed * 2;
  margin-bottom: 10px;
}
